.container article div img {
    width: 100%;
    margin: 1px;
}
.container article div {
    height: auto;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}